<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
	<head>  
		<title></title>  <!--[if !mso]><!-- -->  
		<meta http-equiv="X-UA-Compatible" content="IE=edge">  <!--<![endif]-->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700" rel="stylesheet" type="text/css">
	</head>
	<body>    
		<p>Hello</p>

		<p>New bid is arrived with high price</p>

		<p><strong>Bid Value:</strong> <%= @bid.amount %></p>

		<br>
		<p>Sincerely, </p>

		<p>The Prime Coders Team</p>

	</body>
</html>